.app{
  text-align: center;
  background-color: rgb(95, 231, 113);
}

.home button{
  /* margin:'40px',textAlign:'center',fontSize:'40px',color:'red'}} */
  margin: 120px;
  padding: 30px;
  text-align: center;
  font-size: '40px';
  color:rgb(92, 34, 218);
  font-family: cursive;
  cursor: pointer;
  border-radius: 40px;
  border-color: rgb(58, 228, 20);
  background-color: rgb(58, 228, 20);

}
 .home button:hover{
  background-color: white;;
  color:rgb(92, 34, 218);
  border-color: white;;
}
.home button a{
  text-decoration: none;
}

.form{
  margin: 40px;
  padding: 50px;
  text-align: center;
  /* width: 500px; */
  /* height: 500px; */
  /* align-items: center; */
}
.form label{
  font-size: 30px;
  font-family: cursive;
  letter-spacing: 3px;
  
}
.form label input{
  font-size: 30px;
  border: 5px solid white;
  border-radius: 15px;

}
.generate{
  padding: 100px;
  margin: 50px;
  font-family: cursive;
}


.card{
  margin-top: 200px;
  font-family: cursive;
}

.card-body .card-title{
  font-family: cursive;
  color: skyblue;
}

.card-body input{
  font-size: 25px;
  border-radius: 10px;
  border-color: white;
  width: 500px;
}
.danger{
 color: rgb(254, 22, 22);
}
.success{
 color: rgb(10, 247, 101);
}




